<!DOCTYPE html>
<html lang="fr" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}
    {% endblock %}
        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="h-full overflow-hidden">
    <div class="flex h-full">
        {% include 'components/left_side_bar.html.twig' %}
        <main class="flex-1 overflow-y-auto p-8">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-3xl font-bold">Anto Blog</h1>
                <button class="block md:hidden rounded-lg focus:outline-none focus:shadow-outline">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="bg-white rounded-lg shadow-md">
                {% block body %}{% endblock %}
            </div>
        </main>
    </div>

    <script>
        const btn = document.querySelector("button.block.md\\:hidden");
        const sidebar = document.querySelector(".bg-gray-800");
        btn.addEventListener("click", () => {
            sidebar.classList.toggle("-translate-x-full");
        });
    </script>
</body>
</html>