{% extends 'base.html.twig' %}

{% block title %}Articles in {{ category.name }}{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-6">Articles in {{ category.name }}</h1>
    {% include 'components/search_bar.html.twig' %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for article in articles %}
            {% include 'components/article_card.html.twig' with {'article': article} only %}
        {% else %}
            <p class="col-span-full text-center text-gray-600">No articles found in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}